* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Monserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  }

  html{
    max-width: 1440px;
    margin: 0 auto;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(226, 211, 206, 0.5);
    color: #fff;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 40px;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
  
  
  /* Menu */
  
  .hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 200px 0px;
    margin: 0;
    box-sizing: border-box;
    width: 257px;
    background-color: #C4C4C4;;
    height: 100%;
    top: 0;
    right: -257px;
    transition: left .2s;
    z-index: 20;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    text-align: right;
  }
  
  
  
  .hidden-menu a{
    text-decoration: none;
    color: white;
  }
  
  .hidden-menu-ticker {
    display: none;
  }
  
  .btn-menu {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 7px;
    position: fixed;
    top: 75px;
    right: 50px;
    cursor: pointer;
    transition: right .23s;
    z-index: 21;
    width: 79px;
    height: 79px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    display: block;
    height: 3px;
    width: 51px;
    background-color: #fff;
    margin: 15px auto 0;
    transition: all .1s linear .23s;
    position: relative;
    
  }
  .btn-menu span.first {
    margin-top: 12px;
    margin-left: 15px;
    width: 40px;
  
  }
  
  .hidden-menu-ticker:checked ~ .btn-menu {
    right: 160px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 0px;
    left: -8px;
    width: 76px;
    margin: 30px auto 0;
    
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -16px;  
    left: -8px;
    margin: -5px auto;  
    width: 76px;
  
  }
  
  
  /* Menu */
  #menuToggle
  {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    width: 55px;
    height: 60px;
    
    z-index: 20;
    
    -webkit-user-select: none;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    font-family: 'Forum', cursive;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    border: 1px solid #fff;  
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    
    background: #fff;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 240px;
    margin: -100px 0 0 -65px;
    padding: 50px;
    padding-top: 125px;
    
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-400%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }